[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
pytest = "==6.2.5"
selenium = "*"

[packages]
invenio-app-rdm = {version = "==10.1.1", extras = ["opensearch2", "postgresql"]}
python-dotenv = "*"
uwsgi = "*"
pytest-invenio = "==1.4.3"
flask-pytest = "*"
invenio-communities = "==3.2.2"
invenio-vocabularies = "==0.13.3"
invenio-base = "==1.2.13"
ultraviolet-saml = {git = "https://github.com/nyudlts/ultraviolet-saml.git", editable=true}
ultraviolet-permissions = {git = "https://github.com/nyudlts/ultraviolet-permissions-module.git"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
