[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
pytest = "==6.2.5"
selenium = "*"
pytest-invenio = "==2.1.1"
flask-pytest = "*"


[packages]
ultraviolet-saml = {git = "https://github.com/nyudlts/ultraviolet-saml.git"}
ultraviolet-permissions = {git = "https://github.com/nyudlts/ultraviolet-permissions-module.git", ref="align-v12-update"}
invenio-communities = {git = "https://github.com/nyudlts/ultraviolet-communities.git", ref="13.0.6-role-filter"}
sqlalchemy = {version = "*", extras = ["asyncio"]}
lxml = "==4.9.3"
xmlsec = "==1.3.13"
python-dotenv = "*"
invenio-app-rdm = {extras = ["opensearch2"], version = "~=12.0.0"}
ultraviolet = {editable = true, path="./site"}
flask_babelex = "*"

uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"


[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
